#log-reg-container {
  max-width: 500px;
  margin: 1.5rem auto;
  padding: 2.5rem;
  background-color: #0F1C2E;
  color: #E5E7EB;
  border-radius: 15px;
  box-shadow: 0 0 20px #85112a7e;
  text-align: center;

  h1 {
    color: #E11D48;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    letter-spacing: 2px;
  }

  .log-reg-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    mat-form-field {
      width: 100%;

      mat-label{
        color: #E5E7EB;
        margin: 0 0.5rem;
      }

      input {
        color: #E5E7EB;
        margin: 0 0.5rem;
    }
    }

    button {
      margin-top: 0.5rem;
      font-weight: bold;
      background-color: #E11D48;
      color: #fff;
      font-size: 1.2rem;
      border-radius: 5px;
      transition: all 0.2s ease;

      &:hover {
        background-color: #B91C38;
      }
    }

    #log-reg-link {
      margin-top: 2rem;
      font-size: 1rem;

      a {
        color: #E11D48;
        font-weight: 600;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
