#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0F1C2E;
  color: #E5E7EB;
  padding: 0.5rem 2.5rem;
  height: 50px;

  #app-title {
    font-size: 2.2rem;
    letter-spacing: 3px;
    margin:0;
    
    #title_img{
      width: 30px;
    }
  }

  #nav-right {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  

    a {
      font-size: 1.2rem;
      letter-spacing: 1.5px;
      color: #E5E7EB;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;

      &:hover {
        color: #B91C38;
      }

      &.active {
        color: #E11D48;
        border-bottom: 2px solid #E11D48;
        padding-bottom: 1px;
      }
    }
  }
}
